*{
    margin: 0px;
    padding: 0px;

}
#navbar{
    height: 50px;
background-color: black;
position: fixed;

}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 255px;
}
.acc{
    color: azure;
}
footer {
    /* margin: 600PX; */
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
    
  }
  #my{
    padding-top: 2cm;
    font-size: 30px;
    text-decoration-line: underline;
  }
 img{
    height: 500px;
    width: 400px;
    margin-left: 80px;
    margin-top: 50px;
    box-shadow: #f08804;

    
 }
 .abc{
    border: 2px solid #1de8ca;
     

 }
 